<form action="" #frm ="ngForm" (ngSubmit)="addProduct(frm.value)">
    <label for="txtid">PRODUCT ID</label>
    <input type="text" name="pid" id="txtid" [(ngModel)]= "proId"><br><br>
    <label for="txtname">PRODUCT NAME</label>
    <input type="text" name="name" id="txtname" [(ngModel)]= "proName"><br><br>
    <label for="txtprice">PRODUCT PRICE</label>
    <input type="number" name="price" id="txtprice" [(ngModel)]= "proPrice"><br><br>
    <input type="button" (click)="save(frm.value)" value="SAVE">
   <input type="submit" value="Add Prouct">
   

</form>


<table border="2">
    <tr>
        <th>ProductID</th>
        <th>ProductName</th>
        <th>ProductPrice</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let product of products" >
        <td>{{product.product_id}}</td>
        <td>{{product.product_name}}</td>
        <td>{{product.product_price}}</td>
        <td><button (click)="edit(product)">edit</button></td>
        <!-- <td><button (click)="delProduct(product._id)">delete</button></td> -->
        <td><button (click) = "delProduct(product._id)">Delete</button></td>
    </tr>
</table>


